[user]
	name = Mihai Rinzis
	email = m.rinzis@gmail.com
[credential]
	helper = cache --timeout=99999
[core]
	editor = emacs
	autocrlf = input
        pager = delta
[merge]
	tool = emerge
	conflictstyle = diff3
[alias]
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[push]
	default = simple
[delta]
        navigate = true
[diff]
        colorMoved = default